
#admin_Navbar .dashboard {
    display: flex;
    flex-direction: column;
}
#admin_Navbar .ssss{
    background: #23275c;
  }

  #admin_Navbar .top-nav {
    display: flex;
    position: fixed;
    /* justify-content: flex-end; */
    align-items: center;
    background-color: #23275c;
    color: #fff;
    height: 4rem;
    width: 100vw;
}

#admin_Navbar .top-nav img {
    width: 12vw;
    height: 5vh;
}

#admin_Navbar .nav-img {
    margin-left: 10px;
    padding: 10px;
}

#admin_Navbar .user-info {
    position: relative;

    margin-left: auto;
}
#admin_Navbar .side-nav {
    margin-top: 4rem;
    /* width: 50%; */
    /* Collapsed width */
    height: 100%;
    /* background-color: #f4f6fc; */
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    /* Animate width change */
    overflow: hidden;
    /* Hide overflowing icons */
}
#admin_Navbar .drawerheader{
    background-color: #f4f6fc;
  
}
#admin_Navbar .iconDrawer
{
  color: #23275c;
}

#admin_Navbar .side-nav.open {
    width: 15.7%;
    /* Expanded width */
}

#admin_Navbar .side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#admin_Navbar .side-nav ul li {
    padding: 15px;
    color: #23275c;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
#admin_Navbar .side-nav ul .icon{
    margin-right: 6px;
    color: #23275c;
} 

#admin_Navbar .side-nav ul li:hover {
    background-color: #CCCCCC;
}
#admin_Navbar .side-nav ul li.active {
    background-color: #CCCCCC;
}



#admin_Navbar .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

#admin_Navbar .submenu.open {
    display: block;
    padding-left: 2vw;
    font-size: 0.9rem;
}

#admin_Navbar .submenu li {
    padding: 10px;
    cursor: pointer;
    color: #fff;
   
}
#admin_Navbar .submenu.active {
    background-color: #8b2222;
}

