#thumbnail{
    width:150px
}

#coursedetails{
    margin-left: 25px;
}

#Card_learner{
    margin-left: 30px;
    margin-top: 20px;
    width:250px;
    text-decoration: none;
    margin-right: 30px;
    

/* 
#Card:hover {
        transform: scale(1.05);
        transition: transform .2s;
        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
    } */
    
  
   
}

#cardcontent_Learner{
   margin-left: 25px;
   color: #27255c;
  
}

.box
{
    display: flex;
    flex-direction: row;
}

#thumbnail{
    width:150px
}

#coursedetails{
    margin-left: 25px;
}

#Card{
    margin-left: 13px;
    margin-top: 13px;
    width:80vw;
   height: 60px;
    text-decoration: none;
    margin-right: 30px;
    background-color: #e6eefb;
   
    
    

/* 
#Card:hover {
        transform: scale(1.05);
        transition: transform .2s;
        box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
    } */
    
  
   
}

#cardcontent{
   margin-left: 25px;
}

#box
{
    
    flex-direction: row;
}
#level{
    margin-top: 25px;
}
#level h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    
}
#cardcontent_Learner{
    margin-left: 25px;
    color:#e6eefb ;
 }
  
 #box_learner
 {
     display: flex;
     flex-direction: row;
    
 }
  
 #thumbnail{
     width:150px
 }
  
 #coursedetails_Learner{
     margin-left: 25px;
   
     color: #27255c;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1rem;
     
 }
  
 #Card_learner{
     margin-left: 280px;
     margin-top: 20px;
     width:60vw;
    height: 70px;
     text-decoration: none;
     margin-right: 30px;
     color:#e6eefb ;
    
  
 /*
 #Card:hover {
         transform: scale(1.05);
         transition: transform .2s;
         box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
     } */
    
  
    
 }
  
 #cardcontent_Learner{
    margin-left: 25px;
    color:#e6eefb ;
 }
  
 .box_learner
 {
    
     flex-direction: row;
     color:#e6eefb ;
 }
 .level{
     margin-top: 25px;
 }
 .level h3 {
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     font-size: large;
     color: #27255c;
    
 }
 .description_content_Learner
 {
    color: #27255c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;

 }